In [1]:
import numpy as np
import pandas as pd
from apyori import apriori, dump_as_json

In [2]:
def f(df):
    keys, values = df.sort_values('ID').values.T
    ukeys, index = np.unique(keys,True)
    arrays = np.split(values,index[1:])
    df2 = pd.DataFrame({'ID':ukeys,'Produto':[list(a) for a in arrays]})
    return df2

def unpack(rr):
    os = rr.ordered_statistics[0]
    return ' e '.join([*os.items_base,*os.items_add])

In [3]:
df = pd.read_csv('Produtos.csv', dtype={'ID':np.int32})
df.head()

   ID             Produto
0   1  ÁGUA CRYSTAL 500ml
1   2             GUARANA
2   3         TIRO N'AGUA
3   4       CHOOP  300 ml
4   5        Skol Secrets

In [4]:
df = f(df)
df.tail(15)

              ID                             Produto
3075445  3075446                       [SKOL SENSES]
3075446  3075447                             [PEPSI]
3075447  3075448                      [Gin Paradiso]
3075448  3075449                    [GUARANÁ, PEPSI]
3075449  3075450          [SKOL SECRET, SKOL SENSES]
3075450  3075451                  [PASTEL DE BANANA]
3075451  3075452                           [CERVEJA]
3075452  3075453                              [Água]
3075453  3075454                    [CBO CORONA 5UN]
3075454  3075455                            [CORONA]
3075455  3075456                      [PIPOCA MÉDIA]
3075456  3075457  [Lotus flavor By: Karen Bittencou]
3075457  3075458                            [CORONA]
3075458  3075459                             [Sucos]
3075459  3075460                   [DOSE DE ABSOLUT]

In [5]:
df.Produto.apply(len).value_counts()[:10]

1     2422382
2      513407
3       97007
4       25821
5        8429
6        4166
7        1392
8         959
10        611
9         369
Name: Produto, dtype: int64

In [6]:
df = df[df['Produto'].apply(len) > 1]
df.head()

    ID                       Produto
9   10             [Sucos, Gatorade]
17  18        [BUDWEISER, BUDWEISER]
28  29      [Antárctica, Antárctica]
34  35    [CHIVAS DOSE, CHIVAS DOSE]
40  41  [ESCONDIDINHO, ESCONDIDINHO]

In [7]:
len(df.index)

653078

In [8]:
results = list(apriori(list(df.Produto), min_support=0.0009, min_confidence=0.6))
for i in range(len(results)):
    print('Regra ', i+1, ':')
    print('  Items: ', unpack(results[i]))
    print('  Suporte: ', int(results[i].support*len(df.index)))
    print('  Confiança: %.2f' %results[i].ordered_statistics[0].confidence)

Regra  1 :
  Items:  010 e 1000
  Suporte:  649
  Confiança: 0.94
Regra  2 :
  Items:  AFRODITE e ECO COPO
  Suporte:  1124
  Confiança: 0.83
Regra  3 :
  Items:  Absolut Bucket 600ml e Bucket
  Suporte:  644
  Confiança: 0.91
Regra  4 :
  Items:  AÇAÍ ORGÂNICO 350ML e TOPPING
  Suporte:  1322
  Confiança: 0.98
Regra  5 :
  Items:  Balde OuroCard e Corda OuroCard
  Suporte:  781
  Confiança: 1.00
Regra  6 :
  Items:  Gin Bucket 600ml e Bucket
  Suporte:  1280
  Confiança: 0.92
Regra  7 :
  Items:  Vanilla Bucket 600ml e Bucket
  Suporte:  783
  Confiança: 0.94
Regra  8 :
  Items:  Água Ama e Budweiser
  Suporte:  3058
  Confiança: 0.74
Regra  9 :
  Items:  CAIPIROSCA e Eco Copo
  Suporte:  651
  Confiança: 0.90
Regra  10 :
  Items:  CALABRESA ARTESANAL e MARGUERITA
  Suporte:  820
  Confiança: 0.86
Regra  11 :
  Items:  CARRINHO DE BEBÊ e PATINAÇÃO
  Suporte:  588
  Confiança: 1.00
Regra  12 :
  Items:  CBO ABSOLUT RED BULL e ECO COPO
  Suporte:  1377
  Confiança: 0.85
Regra  13 :
  Items:  CORDINHA COPO e ECO COPO
  Suporte:  2967
  Confiança: 0.82
Regra  14 :
  Items:  Café Expresso e Pão de Quiejo
  Suporte:  1270
  Confiança: 0.82
Regra  15 :
  Items:  Caipi Limão e ECO COPO
  Suporte:  1072
  Confiança: 0.82
Regra  16 :
  Items:  Caipi Morango e ECO COPO
  Suporte:  2842
  Confiança: 0.82
Regra  17 :
  Items:  CaipiLimão e ECO COPO
  Suporte:  956
  Confiança: 0.79
Regra  18 :
  Items:  CaipiMorango e ECO COPO
  Suporte:  2237
  Confiança: 0.81
Regra  19 :
  Items:  Capuccino e Pão de Quiejo
  Suporte:  844
  Confiança: 0.92
Regra  20 :
  Items:  Cordinha Eco Copo e ECO COPO
  Suporte:  684
  Confiança: 0.74
Regra  21 :
  Items:  DRINK Energiazente e ECO COPO
  Suporte:  1260
  Confiança: 0.76
Regra  22 :
  Items:  DRINK Paradisíaco e ECO COPO
  Suporte:  1969
  Confiança: 0.80
Regra  23 :
  Items:  DRINK TropicalGin e ECO COPO
  Suporte:  1187
  Confiança: 0.75
Regra  24 :
  Items:  Paraíso Verde e ECO COPO
  Suporte:  821
  Confiança: 0.77
Regra  25 :
  Items:  Sour Thai By: Guilherme Penna e ECO COPO
  Suporte:  1095
  Confiança: 0.77
Regra  26 :
  Items:  Tropical Gin e ECO COPO
  Suporte:  1069
  Confiança: 0.62
Regra  27 :
  Items:  ESPETINHO ANGUS e GUARNIÇÕES
  Suporte:  1222
  Confiança: 0.73
Regra  28 :
  Items:  Porta copo e Eco Copo
  Suporte:  2082
  Confiança: 0.68
Regra  29 :
  Items:  Eco copo e Porta copo
  Suporte:  663
  Confiança: 1.00
Regra  30 :
  Items:  MOLHOS CLÁSSICOS e FRITAS CLÁSSICA
  Suporte:  2278
  Confiança: 1.00
Regra  31 :
  Items:  MOLHOS ESPECIAIS e FRITAS CLÁSSICA
  Suporte:  3261
  Confiança: 1.00
Regra  32 :
  Items:  TOPPINGS e FRITAS CLÁSSICA
  Suporte:  2919
  Confiança: 0.99
Regra  33 :
  Items:  Porta Copo Eco (Codinha) e Meu Copo Eco (Copo)
  Suporte:  1811
  Confiança: 0.89
Regra  34 :
  Items:  Vodka Smirnoff e Red Bull
  Suporte:  1948
  Confiança: 0.66
Regra  35 :
  Items:  TOPPINGS e MOLHOS CLÁSSICOS e FRITAS CLÁSSICA
  Suporte:  822
  Confiança: 0.99
Regra  36 :
  Items:  MOLHOS ESPECIAIS e TOPPINGS e FRITAS CLÁSSICA
  Suporte:  1549
  Confiança: 0.99